/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #f4f8f4;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: #1f2937;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  background: #15803d;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #166534;
}

/* INPUT AUTOFILL FIX */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* REMOVE INPUT OUTLINE */
input,
button,
textarea,
select {
  outline: none;
  border: none;
}

/* BUTTON DEFAULT */
button {
  cursor: pointer;
  transition: all 0.3s ease;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* IMAGE */
img {
  max-width: 100%;
  display: block;
}